<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header class="yt__header_section" role="banner">
      <section class="yt__header_navigation" id="yt__header_navigation">
        <nav role="navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="159" height="30">
            <g fill="none" fill-rule="evenodd">
              <path stroke="#fff" stroke-width="2" d="M1 1h147.617407C153.000903 8.3359375 155.795101 13.0026042 157 15c-.899597 1.8154297-3.693795 6.4820964-8.382593 14H9c-4.418278 0-8-3.581722-8-8V1z"/>
              <text fill="#fff" font-family="EmblemaOne-Regular, Emblema One" font-size="21" transform="translate(1 1)">
                <tspan x="6" y="21">YouTravel</tspan>
              </text>
              <path fill="#FFF" d="M145 1h3.88l8.155 14-8.155 14H145l8.068-14z"/>
              <path fill="#F9F9F9" d="M139 1h3.88l8.155 14-8.155 14H139l8.068-14z"/>
              <path fill="#FFF" d="M133 1h3.88l8.155 14-8.155 14H133l8.068-14z"/>
            </g>
          </svg>
        </nav>
      </section>
      <section class="yt__header_hero" id="yt__header_hero">
        <div class="yt__hero_image">
          <img alt="Aerial View Winding Road & Ocean" class="img__hero2" src="../assets/images/aerial.jpg" />
        </div>
        <!--
        <div class="yt__hero_image">
          <img alt="Paradise Sea Turquoise Water" class="img__hero3" src="../assets/images/paradise.jpg" />
        </div>
        -->
        <div class="yt__hero_image">
          <img alt="Island Heart Shaped & Ocean Lagoon & Beach" class="img__hero3" src="../assets/images/island.jpg" />
        </div>
        <div class="yt__hero_image">
          <img alt="Louvre Pyramid Paris" class="img__hero1" src="../assets/images/louvre.jpg" />
        </div>
      </section>
      <section class="yt__header_form" id="yt__header_form">
        <div class="yt__header_form-container">
          <h1>Adventures made easy</h1>
          <h2>Find an adventure, travel plans and experiences.</h2>
          <label class="yt__hidden" for="yt__search_input">Enter a travel destination please</label>
          <input id="yt__search_input" name="input" placeholder="Where would you like to travel?" type="text">
          <div class="yt__search_container">
            <div class="yt__search_departure">
              <svg id="yt__departure_icon" xmlns="http://www.w3.org/2000/svg" width="19" height="18">
                <path d="M.606 15.935h17.441V18H.607v-2.065zM18.57 6.269c-.193-.827-.954-1.322-1.689-1.095L12.007 6.64 5.673 0 3.901.527l3.8 7.404L3.14 9.305 1.33 7.715 0 8.116l1.67 3.264.707 1.373 1.47-.444 4.874-1.466 3.993-1.198 4.874-1.467c.744-.237 1.175-1.084.982-1.91z" />
              </svg>
              <label id="yt__departure_label">Departure</label>
            </div>
            <div class="yt__search_return">
              <svg id="yt__return_icon" xmlns="http://www.w3.org/2000/svg" width="19" height="18">
                <path d="M0 16.05h18.518V18H0v-1.95zm17.941-3.383a1.459 1.459 0 00-1.005-1.81l-5.149-1.479L9.251.543 7.382 0l-.14 8.068-4.82-1.383-.873-2.276-1.407-.402L.076 7.56.052 9.058l1.553.444 5.149 1.48 4.216 1.214 5.149 1.479a1.483 1.483 0 001.822-1.008z" />
              </svg>
              <label id="yt__return_label">Return</label>
            </div>
          </div>
          <span id="yt__dates_error" class="yt__search_error">&nbsp;</span>
          <button id="yt__search_button" type="submit">Find Your Adventure</button>
        </div>
      </section>
    </header>
    <main role="main">
      <section class="yt__result_section" id="yt__result_section">
        <div class="yt__result_container">
          <img alt="Your Adventure Picture" id="yt__result_picture" src="https://via.placeholder.com/300/09f/fff.png" />
          <div class="yt__result_info">
            <div class="yt__result_header">
              <h1>Adventure destination: </h1>
              <h1 id="yt__results_destination">nbsp;</h1>
            </div>
            <table>
              <tr>
                <td>
                  <h2>Departure Date: </h2>
                </td>
                <td>
                  <i id="yt__results_departure">&nbsp;</i>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>Return Date: </h2>
                </td>
                <td>
                  <i id="yt__results_return">&nbsp;</i>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>Days until departure: </h2>
                </td>
                <td>
                  <i id="yt__results_days_until">&nbsp;</i>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>Total Adventure days: </h2>
                </td>
                <td>
                  <i id="yt__results_total_days">&nbsp;</i>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="yt__result_weather" >
          <script id="yt__result_weather" type='text/javascript' src='https://darksky.net/widget/default/42.360082,-71.05888/us12/en.js?width=100%&height=350&title=Weather Information&textColor=333333&bgColor=FFFFFF&transparency=false&skyColor=undefined&fontFamily=Default&customFont=&units=us&htColor=333333&ltColor=C7C7C7&displaySum=yes&displayHeader=yes'></script>
        </div>
        <button id="yt__back_button" type="button">Back to Search</button>
      </section>
    </main>
    <footer role="contentinfo">
      <div class="yt-footer-copyright">
        <span>© 2019</span>
        <a href="https://cosmin.dev" title="Cosmin Cojocar" target="_blank">Cosmin Cojocar</a>
      </div>
    </footer>
    <!-- Spinner -->
    <div class="yt__spinner" id="yt__spinner"></div>
  </body>
</html>
