<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header class="yt__header_section" role="banner">
      <section class="yt__header_navigation">
        <nav role="navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="159" height="30">
            <g fill="none" fill-rule="evenodd">
              <path stroke="#fff" stroke-width="2" d="M1 1h147.617407C153.000903 8.3359375 155.795101 13.0026042 157 15c-.899597 1.8154297-3.693795 6.4820964-8.382593 14H9c-4.418278 0-8-3.581722-8-8V1z"/>
              <text fill="#fff" font-family="EmblemaOne-Regular, Emblema One" font-size="21" transform="translate(1 1)">
                <tspan x="6" y="21">YouTravel</tspan>
              </text>
              <path fill="#FFF" d="M145 1h3.88l8.155 14-8.155 14H145l8.068-14z"/>
              <path fill="#F9F9F9" d="M139 1h3.88l8.155 14-8.155 14H139l8.068-14z"/>
              <path fill="#FFF" d="M133 1h3.88l8.155 14-8.155 14H133l8.068-14z"/>
            </g>
          </svg>
        </nav>
      </section>
      <section class="yt__header_hero">
        <div class="yt__hero_image">
          <img alt="Aerial View Winding Road & Ocean" class="img__hero2" src="../assets/images/aerial.jpg" />
        </div>
        <!--
        <div class="yt__hero_image">
          <img alt="Paradise Sea Turquoise Water" class="img__hero3" src="../assets/images/paradise.jpg" />
        </div>
        -->
        <div class="yt__hero_image">
          <img alt="Island Heart Shaped & Ocean Lagoon & Beach" class="img__hero3" src="../assets/images/island.jpg" />
        </div>
        <div class="yt__hero_image">
          <img alt="Louvre Pyramid Paris" class="img__hero1" src="../assets/images/louvre.jpg" />
        </div>
      </section>
    </header>
    <main role="main">
      <section></section>
    </main>
    <footer role="contentinfo">
      <div class="yt-footer-copyright">
        <span>© 2019</span>
        <a href="https://cosmin.dev" title="Cosmin Cojocar" target="_blank">Cosmin Cojocar</a>
      </div>
    </footer>
  </body>
</html>
