<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTravel</title>
  </head>
  <body>
    <header role="banner">
      <nav role="navigation">
        <h1>YouTravel</h1>
      </nav>
    </header>
    <main role="main">
      <section></section>
    </main>
    <footer role="contentinfo">
      <div class="yt-footer-copyright">
        <span>© 2019</span>
        <a href="https://cosmin.dev" title="Cosmin Cojocar" target="_blank">Cosmin Cojocar</a>
      </div>
    </footer>
  </body>
</html>
