@import "../util/_colors";

input {
  background-color: transparent;
  border: 1px solid $color-white;
  border-radius: 4px;
  color: $color-white;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.125rem;
  min-width: 250px;
  padding: 1rem 1.25rem;

  &::placeholder {
    color: $color-white;
    font-style: italic;
    font-weight: 300;
  }
}
