.yt__hero_section {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: header;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .yt__hero_navigation {
    align-items: center;
    /*
    background: #000;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    */
    display: flex;
    height: 70px;
    justify-content: center;
    left: 0;
    padding: 0 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    nav {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;

      h1 {
        font: italic 1.3rem "IBM Plex Sans", sans-serif;
        font-weight: 600;
        margin-left: 5px;
      }
    }
  }

  .yt__hero_container {
    box-sizing: border-box;
    display: block;
    height: 70vmax;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:after {
      background-image: linear-gradient(180deg, transparent, #7e60fa 300px);
      content: "";
      height: 95vmax;
      left: 0;
      position: absolute;
      right: 0;
      top: calc(50vmax - 300px);
    }

    .yt__hero_image {
      animation: header__animation .8s ease-out both;
      display: block;
      overflow: hidden;
      position: absolute;

      top: -5vmax;
      bottom: -5vmax;
      left: -5vmax;
      right: -5vmax;


      img {
        height: 100%;
        object-fit: cover;
        object-position: 80% 100%;
        opacity: 0;
        position: absolute;
        width: 100%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .img__hero2 {
        animation: 18s g linear infinite;
        background: url(../assets/images/aerial.jpg) no-repeat 50% 50%;
        background-size: cover;
      }

      .img__hero3 {
        animation: 18s h linear 6s infinite;
        background: url(../assets/images/island.jpg) no-repeat 50% 50%;
        background-size: cover
      }

      .img__hero1 {
        animation: 18s i linear 12s infinite;
        background: url(../assets/images/louvre.jpg) no-repeat 50% 50%;
        background-size: cover;
      }
    }
  }
}

@keyframes header__animation {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes g {
  0%  { opacity: 0; transform: translate3d(5vmax, 2vmax, 0) scale(1.1) }
  5%  { opacity: 1 }
  33% { opacity: 1 }
  38% { opacity: 0; transform: translate3d(0, -2vmax, 0) scale(1) }
}

@keyframes h {
  0%  { opacity: 0; transform: translate3d(-2vmax, 0, 0) scale(1) }
  5%  { opacity: 1 }
  33% { opacity: 1 }
  38% { opacity: 0; transform: translate3d(2vmax, -2vmax, 0) scale(1.1) }
}

@keyframes i {
  0%  { opacity: 0; transform: translate3d(0, 2vmax, 0) scale(1) }
  5%  { opacity: 1 }
  33% { opacity: 1 }
  38% { opacity: 0; transform: translateY(-2vmax) scale(1.1) }
}

@media (min-width: 768px) {
  .yt__hero_section {
    .yt__hero_container {
      &:after {
        display: none;
      }
    }
    .yt__hero_navigation {
      nav {
        justify-content: flex-start;
      }
    }
  }
}
