@import url("https://fonts.googleapis.com/css?family=Emblema+One&display=swap&text=N");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700&display=swap");

@import "util/_resets";
@import "util/_util";

@import "components/_button";
@import "components/_input";

@import "layout/_footer";
@import "layout/_header";
@import "layout/_main";
@import "layout/_spinner";

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  display: grid;
  font-family: 'Source Sans Pro', sans-serif;;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 70vmax 1fr 50px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

/*
* Reset style for HTML element on active to have no border
*/
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}
