@import "../util/_colors";

footer {
  align-items: center;
  background-color: $background-white;
  box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, 0.3), 0 -2px 6px 2px rgba(60, 64, 67, 0.15);
  color: $color-teal;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  justify-content: center;
  padding: 1rem 0;

  .yt-footer-copyright {
    align-items: center;
    display: flex;
    max-width: 768px;

    a {
      color: $color-teal;
      margin-left: 5px;
      text-decoration: none;
    }
  }

}
