@import "../animations/_animations";
@import "../util/_colors";

.yt__header_section {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: header;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .yt__header_hero {
    box-sizing: border-box;
    display: block;
    height: 90vmax;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:after {
      background-image: linear-gradient(180deg, transparent, $color-indigo 300px);
      content: "";
      height: 95vmax;
      left: 0;
      position: absolute;
      right: 0;
      top: calc(90vmax - 400px);
    }

    .yt__hero_image {
      animation: reveal__animation .8s ease-out both;
      display: block;
      overflow: hidden;
      position: absolute;

      top: -5vmax;
      bottom: -5vmax;
      left: -5vmax;
      right: -5vmax;


      img {
        height: 100%;
        object-fit: cover;
        object-position: 80% 100%;
        opacity: 0;
        position: absolute;
        width: 100%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .img__hero2 {
        animation: 18s hero__2_animation linear infinite;
        background: url(./../assets/images/aerial.jpg) no-repeat 50% 50%;
        background-size: cover;
      }

      .img__hero3 {
        animation: 18s hero__3_animation linear 6s infinite;
        background: url(./../assets/images/island.jpg) no-repeat 50% 50%;
        background-size: cover
      }

      .img__hero1 {
        animation: 18s hero__1_animation linear 12s infinite;
        background: url(./../assets/images/louvre.jpg) no-repeat 50% 50%;
        background-size: cover;
      }
    }
  }

  .yt__header_navigation {
    align-items: center;
    /*
    background: #000;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    */
    display: flex;
    height: 70px;
    justify-content: center;
    left: 0;
    padding: 0 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    nav {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;

      h1 {
        font: italic 1.3rem "IBM Plex Sans", sans-serif;
        font-weight: 600;
        margin-left: 5px;
      }
    }
  }

  .yt__header_form {
    bottom: 30px;
    height: auto;
    left: 0;
    padding: 0 1.5rem;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 10;

    .yt__header_form-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        animation: reveal__animation 0.4s 0.2s ease-in-out both;
        color: $color-white;
        font-size: 3.75rem;
        font-weight: 700;
        letter-spacing: normal;
        line-height: 1;
        margin-bottom: 1.5rem;
      }

      h2 {
        animation: reveal__animation 0.4s 0.25s ease-in-out both;
        color: $color-white;
        display: none;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 500;
        letter-spacing: normal;
        margin-bottom: 3rem;
      }

      input {
        margin-bottom: 1rem;
        width: 100%;
      }

      .yt__search_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 100%;

        .yt__search_departure {
          margin-bottom: 1rem;
        }

        .yt__search_return {
          margin-bottom: 1rem;
        }

        label {
          color: $color-white;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.125rem;
          margin-right: 2rem;
          opacity: 0.5;
        }

        svg {
          margin-right: 0.3rem;
          opacity: 0.5;

          path {
            fill: $color-white;
          }
        }
      }

      .yt__search_error {
        color: $color-red;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.125rem;
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
        visibility: hidden;
      }
    }
  }
}

@media (min-width: 640px) {
  .yt__header_section {
    .yt__header_hero {
      height: 70vmax;
      &:after {
        top: calc(70vmax - 400px);
      }
    }
    .yt__header_form {
      .yt__header_form-container {
        .yt__search_container {
          flex-direction: row;

          .yt__search_departure {
            margin-bottom: 0;
          }

          .yt__search_return {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .yt__header_section {
    .yt__header_form {
      .yt__header_form-container {
        h1 {
          font-size: 4.6rem;
          font-weight: 700;
        }
        h2 {
          display: block;
        }
        input {
          max-width: 500px;
          width: 70%;
        }
        .yt__search_container {
          max-width: 500px;
          width: 70%;

          label {
            margin-right: 5rem;
          }
        }
      }
    }
    .yt__header_navigation {
      nav {
        justify-content: flex-start;
      }
    }
  }
}
